<h3>SignIn</h3>

<form action="/admin" method="POST">

    <label for="fullName"><b>Full name</b></label>
    <input type="text" placeholder="Enter fullname" name="fullname">

    <label for="email"><b>email address</b></label>
    <input type="text" placeholder="Enter email " name="email">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="Login" class="btn">
</form>

<h3>SignUp</h3>

<form action="/signup" method="POST">

    <label for="fullName"><b>Full name</b></label>
    <input type="text" placeholder="Enter fullname" name="fullname">

    <label for="email"><b>email</b></label>
    <input type="text" placeholder="Enter email address" name="email">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="SignUp" class="btn">
</form>